.card{
  padding: 20px;
  border: 2px solid blue;
  margin: 12px;
  border-radius: 12px;
}
button{
  font-size: 22px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 12px;
  width: 52px;
  background-color: blanchedalmond;
}
